<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClockIn.Session" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClockIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TimeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClockIn.Session>
            <setting name="Arrival" serializeAs="String">
                <value>2012-01-01</value>
            </setting>
            <setting name="NotifyLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Absence" serializeAs="String">
                <value />
            </setting>
            <setting name="ClockedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClockOutTime" serializeAs="String">
                <value />
            </setting>
        </ClockIn.Session>
        <ClockIn.Properties.Settings>
            <setting name="RegularWorkingTime" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaximumWorkingTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NotifyOnRegularLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnMaximumLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyAdvance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Break" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="NewSessionOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContinueSessionOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskSessionOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LowPowerIsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreaksBegin" serializeAs="String">
                <value>01/01/2012 11:30:00</value>
            </setting>
            <setting name="BreaksEnd" serializeAs="String">
                <value>01/01/2012 14:00:00</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="OptionsDialogLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="SoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingTimeDisplay" serializeAs="String">
                <value>ElapsedTime</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayMaximumTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="AbsenceDialogLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="OutsideLunchWorkspan1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="OutsideLunchWorkspan2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="OutsideLunchBreak1" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="OutsideLunchBreak2" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ArrivalTimeOffset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyRegAdvance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlatIconOnNewWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClockInAtStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClockInAtWakeup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeOnClockOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmAbsenceOnClockIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClockInOutHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="NotifyOnClockInOut" serializeAs="String">
                <value>True</value>
            </setting>
        </ClockIn.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
